[Unit]
Description=reverse-proxy-network
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=always
User=root
Group=docker
ExecStart=/usr/bin/bash -c "docker network create reverse-proxy-network; docker network create monitoring"
ExecStop=/usr/bin/bash -c "docker network rm reverse-proxy-network; docker network rm monitoring"

[Install]
WantedBy=multi-user.target
